.lwriter {
    font-size: 60px;
    border: 0;
    padding: 10px;
    outline: 0;
    resize: none;
    background: transparent;
    font-family: Nunito;
}

#lwriter:focus {
    outline: 0;
}

.four {
    color: #093d85;
}

.inp {
    font-size: 25px;
    width: 400px;
    background: #f3f3f3;
    border: 1px solid;
    border-radius: 5px;
}
