.lwriter {
    height: 80px;
    font-size: 70px;
    width: 0ch;
    border: 0;
    padding: 10px;
    outline: 0;
    overflow: hidden;
    resize: none;
    background: transparent;
}

#lwriter:focus {
    outline: 0;
}

.four {
    color: #093d85;
}

.inp {
    font-size: 25px;
    width: 400px;
    background: #f3f3f3;
    border: 1px solid;
    border-radius: 5px;
}
